#movies-detail {
    margin-top: 95px;
}

.tabs {
    margin: -20px 0 10px;
    line-height: 2;
}
.tabs ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
}
.tabs ul li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 4px;
}
.tabs .tab-link {
    font-size: 20px;
    color: inherit;
    padding: 8px 10px;
    border-radius: 6px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--icon-bgcolor);
    box-shadow: var(--default-box-shadow);
}
.tabs .tab-link:hover {
    background-color: var(--default-color);
    color: #fff;
}
.tabs .tab-link.active {
    font-weight: 700;
    color: #fff;
    background-color: var(--default-color);
    box-shadow: var(--default-shadowBox);
}

.genre-detail {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
    text-align: center;
}
.genre-detail .genre-box {
    border: 1px solid #33333336;
    border-radius: 9px;
    padding: 5px 5px;
    border-top: 3px solid var(--default-color);
    font-size: 12px;
    box-shadow: 0 0 10px #0000001f;
    transition: all .2s ease;
}

.genre-detail .genre-box:hover {
    background: var(--default-color);
    color: #fff;
    cursor: pointer;
}